p.lion {
  background-color: red;
}

li.lion {
  background-color: green;
}

#tiger {
  background-color: yellow;
}

.lion {
  color: white;
}

div.zoo .lion {
  font-weight: bold;
}

#tiger + li {
  background-color: skyblue;
}

div.zoo > ul > .lion ~ li {
  background-color: orange;
}
